<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta content="{{ site.name }}" name="author"/>
  <meta content="{{ site.description }}" name="description"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>

  <link href="/atom.xml" rel="alternate" type="application/rss+xml"/>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="/assets/stylesheets/base.css" media="screen, projection" rel="stylesheet" type="text/css"/>
  <link href="/assets/stylesheets/syntax.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/stylesheets/mobile.css" media="only screen and (max-device-width: 480px)" rel="stylesheet" type="text/css"/>
  <link href="/assets/stylesheets/mobile.css" media="only screen and (device-width: 768px)" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" />

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/javascripts/application.js" type="text/javascript"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <img src="{{ site.gravatar_url }}?s=150" height="75" width="75" class="avatar" />
    </a>

    <section class="name">
      <a href="/">
        <span id="fname">{{ site.name|split:' '|first }}</span>
        <span id="lname">{{ site.name|split:' '|last }}</span>
      </a>
    </section>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="/atom.xml"><i class="fa fa-rss"></i></a>
    </section>

    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/">posts</a></li>
      </ul>
    </section>
  </section>

  {{ content }}
</body>

</html>
